.footer{
    padding: 2.5rem 0;
    background-color: $grisOscuro;

    .contenedor-footer{
        padding-top: 2.5rem;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}